body {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	text-align: center;
	color: #384B5C;
}
a { 
	text-decoration: none; 
	color: #00A6FF;
}
a:hover{
	color: #C1CCD6;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
	    -ms-transition: all .1s ease-in-out;
	     -o-transition: all .1s ease-in-out;
	        transition: all .1s ease-in-out;
}
img {
    max-width: 100%;
    height: auto;
}

button{
	color: #00A6FF;
	background: #fff;
}
form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 300px;
}
.form-group{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: 1200px;
	justify-content:space-around;
	align-items:center;
	padding: 1em 2em;
}


.nav {
	display: flex;
	justify-content: flex-end;
	padding-right: 30%;
	width: 100%;
}
.btn-grey{
	color: #A3B3C2;
	border-radius: 10px;
	padding: 0.5rem 2rem;
	border: 2px solid;
	margin-right: 1rem;
}
.logo {
	font-size: 2em;
}
.logo img{
	max-width: 300px;
}
.intro{
	color: #00A6FF;
	font-size: 2em;
}
.btn-middle{
	padding: 1rem 2rem;
	color:#fff;
	background: #00A6FF;
	border-radius: 30px;
	border: 3px solid #00A6FF;
}
.shadow{
	box-shadow: 0 2px 43px -4px rgba(0,0,0,.19);
}
.shadow:hover{
	box-shadow: 0 2px 5px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.05);
}
.card{
	color: #00A6FF;
	border-radius: 40px;
	overflow: hidden;
	border: 3px solid #00A6FF;
	padding: 1rem 2rem;
	margin-top: 2rem;
}
.card-result{
	color: #fff;
	border-radius: 40px;
	overflow: hidden;
	max-width: 320px;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
/* Modal Start*/
.modal{
	z-index: 5;
	
}
.mask{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	background-color:  #00A6FF;
	opacity: 0.9;
}
.modal-content{
	height: 700px;
	overflow: scroll;
	background: #fff;
	border-radius: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 3rem;
}

.modal-header{
	display: flex;
	justify-content: flex-end;
	font-size: 2em;
}
.modal-body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 600px;
}
.explain{
	color:#00A6FF;
	font-size: 1.5em;
	line-height: 1.7;
}
.close{
	min-width: 50px;
	min-height: 50px;
	cursor: pointer;
}
.close:hover{
	color: #00A6FF;
}
.modal-footer{
	display: block;
	text-align: center;
}


/*Modal End*/

.btn-middle:hover{
	color:#00A6FF;
	background: #fff;
}
.result{
	display: flex;
	flex-direction: row;
}
.map-left{
	/*flex-grow: 1*/
}
.right-box{
	flex-basis: 300px;
	padding: 0.5rem 2rem;
}
.split-row {

	width: 100%;
	/*background: yellow;	*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.avatar {
	vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.left {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.btn-login{
	padding: 0.5rem 2rem;
	border-radius: 100px;
	border: 2px solid #00A6FF;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.btn-login:hover{
	-webkit-transition: all .1s ease;
	   -moz-transition: all .1s ease;
	    -ms-transition: all .1s ease;
	     -o-transition: all .1s ease;
	        transition: all .1s ease;
	color:#fff;
	background-color: #00A6FF;
}

.arrow{
  padding-left:17px;
}

.arrow:before{
  content:" → ";
  font-size: 2em;
  vertical-align: middle;
  color:#fff;
  opacity: 0;
  -webkit-transition: all 250ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
}

.arrow:hover:before{
  left:84%;
  opacity:1;
}

.arrow:hover {
  width:170px;
}
@media screen and (max-width: 414px) {
	.intro{
		font-size: 1em;
	}
	.explain{
		font-size: 1em;
	}
	
}
@media screen and (max-width: 374px) {
	footer{
		font-size: 0.75em;
	}
	
}
@media screen and (max-width: 320px) {
	.logo{
		font-size: 1.5em;
	}
	footer{
		font-size: 0.75em;
	}
}
@media screen and (min-width: 700px) {
	.modal-content{
		flex-direction: column-reverse;
		overflow: scroll;

	}
	.modal-header{
		display: none;
	}
}
@media screen and (min-width: 415px) {
	.split-row{
		width: 415px;

	}
}
